html,
body {
	background:#f3f3f3;
	width:100%;
	height:100%;
	color:#666;
	font-family: "Proxima Nova", "Montserrat", "Arial", sans-serif;
	margin:0;
	padding:0;
}

svg {
	display:block;
	width:100%;
	height:100%;
	shape-rendering:geometricPrecision;
	cursor:pointer;
}

.b {
	font-weight:bold;
}

/* Top bar */

#nav_top {
	z-index:2;
	background:rgba(255,255,255,0.9);
	position:absolute;
	width:100%;
	height:auto;
	top:0;
	left:0;
	box-shadow:0 0 1px 1px rgba(0,0,0,0.25);
}
#nav_top .float {
	float:left;
	display:inline-block;
	margin:0;
	box-sizing:border-box;
	margin:0 18px 0 0;
	padding:18px 0 0;
}
#nav_top .float span {
	cursor:pointer;
}
#nav_top .float#title {
	background:#3399ff;
	color:white;
	font-size:13px;
	letter-spacing:0.5px;
	text-align:center;
	text-transform:uppercase;
	width:276px;
	padding:20px 0 18px;
	cursor:default;
}
#nav_top .float#title span {
	cursor:default;
}
#nav_top .tab {
	height:54px;
	font-size:15px;
	cursor:pointer;
}
#nav_top .tab:hover {
	color:#3399ff;
}
#nav_top .tab.selected {
	color:#3399ff;
	border-bottom:6px solid #3399ff;
}

#nav_top #date_display {
	background:#eee;
	float:right;
	color:#3399ff;
	font-size:11px;
	width:138px;
	margin:0;
	padding:15px 9px;
	border-left:6px solid #3399ff;
}
#nav_top #date_display span {
	float:left;
}

/* Body */

#container {
	width:100%;
	height:100%;
}

/* Controls */
._01 .control {
	z-index:1;
	position:absolute;
	background:rgba(255,255,255,0.8);
}

#sidebar {
	height:100%;
	width:276px;
	left:0;
	top:0;
}

#slider {
	height:100%;
	width:138px;
	right:0;
	top:0;
}
#slider .slider_body {
	position:relative;
	background:#666;
	height:100%;
	height:calc(100% - 90px);
	width:138px;
	top:72px;
	margin:0;
	padding:0;
}
#slider .slider_body path,
#slider .slider_body line {
	fill:none;
	stroke:white;
}
#slider .slider_body text {
	fill:white;
	font-size:10px;
}
#slider .slider_body .tick:last-child {
	display:none;
}

/* Map */

.map {
	fill:#ddd;
	stroke:transparent;
	stroke-width:0;
	stroke-opacity:0;
	stroke-linejoin:miter;
}

.pointG {
	cursor:pointer;
}
.point {
	fill:#3399ff;
	stroke:#3399ff;
	stroke-width:0.5;
}












.tt {
	font-size:10px;
	opacity:0;
	pointer-events:none;
	}
.tt.visible {
	opacity:1;
	}


.points_MonthSpec,
.points_YearSpec {
	fill-opacity:0;
	}

.points_YearSpec {
	stroke-opacity:0.25;
	stroke-dasharray:0.5,0.5;
	}

.points_MonthSpec {
	stroke-opacity:0.5;
	}

.pointBack {
	fill-opacity:1;
	fill:white;
	stroke-opacity:1;
	stroke:white;
	}

.point {
	fill-opacity:1;
	stroke-opacity:1;
	}
.hov .point,
.selected .point {
	fill:#007fff;
	fill-opacity:1;
	stroke:#007fff;
	}
.hov .points_MonthSpec,
.selected .points_MonthSpec {
	stroke:#007fff;
	stroke-opacity:0.75;
	}
.hov .points_YearSpec,
.selected .points_YearSpec {
	stroke:#007fff;
	stroke-opacity:0.5;
	}

.trajectoriesG {
	pointer-events:none;
	}
.trajectory {
	fill:none !important;
	stroke:#3399ff;
	stroke-width:0.5;
	stroke-opacity:0.5;
	pointer-events:none;
	}
.trajectory.hov ,
.trajectory.selected {
	/*stroke:#007fff;*/
	stroke-opacity:1;
	}
.trajectory.hov {
	stroke-width:0.75;
	}
/*.trajectory.tier {
	stroke:red;
	}*/


/*	Author colors
	------------------------------- */

.rdepestre {
	fill:#66c2a5;
	color:#66c2a5;
	}
path.rdepestre {
	stroke:#66c2a5;
	}

.acesaire {
	fill:#fc8d62;
	color:#fc8d62;
	}

path.acesaire {
	stroke:#fc8d62;
	}